<h1> Your current location is: </h1>
    <h1> {{lat}} </h1>
        <h1> {{lng}}</h1>
            <agm-map style="height:500px" [zoom]='19' [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>